<%#= render '/refinery/content_page' %>

<section id="home-main">
  <h1>Home Main</h1>
  <%= link_to 'Made in France', '#made-in-france', class: 'scroll-btn' %>
  <a href="#aktiv">Aktiv</a>
  <%= link_to 'Bikes/Framesets', '#skylon-izon-fluidity-feature' %>
</section>

<section id="made-in-france">
  <h1>Made in France</h1>
</section>

<section id="skylon-izon-fluidity-feature">
  <h1>What's new for 2015</h1>
</section>

<section id="2015-collection">
  <h1>The 2015 Collection</h1>
</section>

<section id="aktiv">
  <h1>AKTIV</h1>
</section>

<section id="pedals">
  <h1>Pedals</h1>
</section>